:root {
  --pink: #FF7979;
  --green: #38CC8B;
  --purple: #5E54A4;
  --black: #3D3B48;
  --white: #fff;
  --break-mobile: 375px;
  --box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.app__container {
  height: 100vh;
  position: relative;
  background: var(--pink);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 165px;
  gap: 45px;
}

.img-desktop {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.left__wrapper {
  width: 525px;
}

.left__header {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.520833px;
  color: var(--white);
}

.left__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
}

.right__wrapper {
  z-index: 1;
}

.form__container {
  background: var(--white);
  height: 474px;
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 20px; */
  padding: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.right__button {
  background: var(--purple);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 17px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: var(--white);
  margin-bottom: 24px;
}

.right__button-span {
  font-weight: 400;
}

.input__form-container{
 margin-bottom: 8px;
 display: flex;
 flex-direction: column;
 position: relative;
}

.input__text {
  padding: 15px 32px;
  width: 460px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: var(--black);
  outline: none;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  height: 56px;
}

.input__text:focus {
  border: 1px solid var(--purple);
}

.input__text::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.75;
}

.incon-error{
  position: absolute;
  right: 27px;
  top: 15px;
  display: none;
}

.display-span{
  display: inline;
  position: absolute;
  right: 27px;
  top: 15px;
}

.is-invalid{
  border: 1px solid var(--pink);
}
.input__span-error{
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  margin: 0;
  text-align: right;
  color: #FF7979;
  
}

.form__button {
  background: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
}

.form__button:hover {
  background: #77E2B3;
}

.form__span {
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  width: 369px;
  color: #BAB7D4;
}

.form__span-strong {
  font-weight: 700;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: var(--pink);
}